[submodule "ru-scraper"]
    path = ru-scraper
    url = https://github.com/gxlpes/ru-scraper
[submodule "ru-whatsapp"]
    path = ru-whatsapp
    url = https://github.com/gxlpes/ru-whatsapp
[submodule "ru-counter"]
	path = ru-counter
	url = https://github.com/guimox/ru-counter.git
